@import 'common';

$break: 724px;

h1 {
    font-size: rem(60px);
    font-weight: bold;
    color: $light-purple;

    @include respond(966px) {
        font-size: rem(50px);
    }

    @include respond(496px) {
        font-size: rem(40px);
    }
}

p {
    line-height: 30px;
}

.what, .how {
    display: flex;

    @include respond($break) {
        display: block;
    }

    p {
        font-size: rem(16px);

        @include respond($break) {
            text-align: justify;
        }
    }
}

.what {
    margin-top: 130px; 

    img {
        display: block;
        width: 678px;
        height: 551px;
        margin-left: -160px;
        flex: 1;

        @include respond(1074px) {
            width: 40vw;
            height: auto;

            margin-left: -100px;
        }

        @include respond($break) {
            width: 95vw;
            height: auto;
            margin: 0 auto;
        }
    }

    div {
        align-self: flex-end;
        flex: 1;
        margin-left: 52px;

        @include respond($break) {
            margin-left: 0;
        }

        p {
            margin-top: 47px;
            margin-bottom: 60px;
        }
    }
}

.how {
    margin-top: 80px;
    margin-bottom: 66px;
    display: block;

    @include respond($break) {
        margin-top: 50px;
    }

    h1 {
        margin-top: 0;
    }

    .how-content {
        display: inline-block;
        margin-right: 49px;
        max-width: 504px;

        @include respond(1118px) {
            max-width: none;
        }

        @include respond($break) {
            margin-right: 0;
        }

        p {
            margin-top: 47px;
        }
    }

    .chat-demo {
        display: inline-block;
        width: 480px;
        height: 400px;
        box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.08);
        position: relative;
        overflow: hidden;
        top: 50px;

        @include respond(1118px) {
            margin: 0 auto;
            display: block;
        }

        @include respond(539px) {
            width: 100%;
        }

        .content {
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        .human {
            background: #396EEA;
            padding: 10px;
            color: #fff;
            position: relative;
            width: 250px;
            margin: 30px 10px 30px auto;

            &:before {
                content: "";
                width: 0px;
                height: 0px;
                position: absolute;
                border-left: 10px solid transparent;
                border-right: 10px solid #396EEA;
                border-top: 10px solid #396EEA;
                border-bottom: 10px solid transparent;
                right: 0px;
                bottom: -9px;
            }
        }

        .robot {
            margin-bottom: 20px;
            margin-left: 10px;

            img {
                position: relative;
                top: 10px;
                display: inline-block;
                width: 50px;
                height: 50px;
            }

            p {
                background: #F1F1F1;
                padding: 10px;
                display: inline-block;
                margin: 0;
                line-height: 1.15;
                max-width: 300px;
            }
        }
    }
}

.features-container, .benefits-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    div {
        width: 250px;
        margin-bottom: 51px;

        img {
            display: block;
            width: 168px;
            margin: 0 auto;
        }
        p {
            margin-top: 38px;
            text-align: center;
        }
    }
}

.benefits {
    margin-bottom: 245px;

    @include respond(966px) {
        margin-bottom: 100px;
    }
}