.noselect {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

button {
  cursor: pointer;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container,
section {
  width: 1088px;
  margin: 0 auto;
}

@media (max-width: 1160px) {
  .container,
  section {
    width: 93vw;
  }
}

.logo {
  height: 65px;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  -webkit-transition: -webkit-filter 0.5s ease-out;
  transition: -webkit-filter 0.5s ease-out;
  transition: filter 0.5s ease-out;
  transition: filter 0.5s ease-out, -webkit-filter 0.5s ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  padding-top: 28px;
  width: 100%;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  font-size: 1.125rem;
}

@media (max-width: 910px) {
  nav {
    font-size: 1.0625rem;
  }
}

@media (max-width: 440px) {
  nav {
    padding-top: 76px;
  }
}

nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav div ul {
  color: #fff;
  text-transform: capitalize;
  font-weight: lighter;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
}

nav div ul li {
  margin-left: 29px;
}

nav div ul a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav div ul a:hover {
  color: #588aff;
}

nav div ul li svg {
  position: relative;
}

nav div ul li svg .a {
  -webkit-transition: fill 0.5s ease-out;
  transition: fill 0.5s ease-out;
}

nav div ul .fb {
  margin-left: 34.5px;
  margin-bottom: 8px;
}

nav div ul .instagram {
  margin-left: 29.6px;
  margin-bottom: 7px;
}

nav div ul .twitter {
  margin-left: 27.4px;
  margin-bottom: 7px;
}

nav div ul .lang-btn {
  position: relative;
  bottom: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50px;
  height: 38px;
  font-weight: lighter;
  border: none;
  margin: 0;
}

nav div ul .lang-vi {
  border-radius: 20px 0 0 20px;
  background-color: #fff;
  color: #5733d1;
}

nav div ul .lang-en {
  border-radius: 0 20px 20px 0;
  background-color: #6f55d9;
  color: #fff;
}

nav div ul .hamburger {
  cursor: pointer;
  bottom: 3px;
  display: none;
}

nav div ul .hamburger:hover rect {
  fill: #588aff;
  stroke: #588aff;
}

@media (max-width: 972px) {
  nav div ul .hide {
    display: none;
  }
  nav div ul .hamburger {
    display: inherit;
  }
  nav div ul .lang-btn-container {
    margin-left: 0;
  }
  nav div ul .lang-btn {
    font-size: 0.8125rem;
    width: 37.5px;
    height: 28.87px;
  }
}

nav.scrolling-active {
  background-color: #fff;
  padding-bottom: 21px;
  padding-top: 20px;
  border-bottom: 3px solid #6f55d9;
  -webkit-box-shadow: 0px 1px 0px 0px #707070;
          box-shadow: 0px 1px 0px 0px #707070;
}

nav.scrolling-active a {
  color: #6f55d9;
}

nav.scrolling-active .lang-btn {
  border: 1px solid #6f55d9;
}

nav.scrolling-active .lang-en {
  color: #fff;
}

nav.scrolling-active svg path {
  fill: #6f55d9;
}

nav.scrolling-active .logo {
  -webkit-filter: none;
          filter: none;
}

nav.scrolling-active .hamburger rect {
  fill: #6f55d9;
  stroke: #6f55d9;
}

#nav-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-image: url("/lalalogy/images/index/bg.svg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

@media (max-width: 440px) {
  #nav-modal {
    background-size: 199vh 100vh;
    background-position: center top;
  }
}

#nav-modal .logo {
  display: block;
  width: 49px;
  height: 47px;
  margin: 22vh auto 65px auto;
}

#nav-modal a {
  display: block;
  margin-top: 27px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
}

#nav-modal a:hover {
  color: #588aff;
}

#nav-modal .social-btn {
  width: 136px;
  margin: 0 auto;
  margin-top: 122px;
}

#nav-modal .social-btn a {
  display: inline-block;
}

#nav-modal .social-btn a:not(:first-child) {
  margin-left: 30px;
}

#nav-modal .exit {
  cursor: pointer;
  position: absolute;
  top: 90px;
  right: 40px;
}

#nav-modal .exit:hover rect {
  fill: #588aff;
  stroke: #588aff;
}

#nav-modal.hidden {
  display: none;
}

footer {
  height: 106px;
  width: 100%;
  margin: 0 auto;
  background-image: url("/lalalogy/images/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 440px) {
  footer {
    background-image: url("/lalalogy/images/mobile-footer.png");
    height: 501px;
  }
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  max-width: 1088px;
}

footer .container p {
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 440px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .container img {
    padding-top: 70px;
  }
  footer .container p {
    padding-bottom: 30px;
    font-family: "Gilroy-Bold", "Montserrat", sans-serif;
    font-size: 1.125rem;
  }
}

body {
  background-image: url("/lalalogy/images/index/bg.svg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

@media (max-width: 440px) {
  body {
    background-size: 199vh 100vh;
    background-position: center top;
  }
}

#background-elements {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -10;
}

#robot {
  position: absolute;
  z-index: -5;
  left: 50%;
  top: 30vh;
  width: 32%;
}

.call-to-action {
  position: absolute;
  top: 38.1vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.call-to-action h1 {
  font-size: 3.4375rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: -0.88px;
}

@media (max-width: 1069px) {
  .call-to-action h1 {
    font-size: calc(0.1rem + 4.8vw);
  }
}

.call-to-action .chat-with-me {
  background-color: #fff;
  text-transform: uppercase;
  color: #2d2d2d;
  font-size: 1.375rem;
  font-weight: 400;
  border-radius: 30px;
  border-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 289px;
  height: 58.9849px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

@media (max-width: 1069px) {
  .call-to-action .chat-with-me {
    font-size: calc(0.1rem + 1.9vw);
    width: 25vw;
    height: 5.1025vw;
  }
}

.call-to-action .chat-with-me:hover {
  background-color: #588aff;
  color: #fff;
}

#scroll-down {
  position: absolute;
  cursor: pointer;
  width: 49px;
  left: calc(50% - 49px / 2);
  top: calc(100vh - 49px - 28px);
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

#scroll-down:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#robo-head {
  position: fixed;
  z-index: 1;
  right: calc(min(40px, 2vw));
  bottom: calc(min(40px, 2vw));
  width: calc(max(min(112.73px, 6vw), 80px));
  height: auto;
}

.introduction {
  margin-top: calc(100vh + 68.5px);
}

@media (max-width: 440px) {
  .introduction {
    margin-top: calc(100vh + 47.5px);
  }
}

.introduction .we-are {
  margin-top: 0;
  margin-bottom: 0.3em;
  color: #6f55d9;
  font-size: 3.75rem;
  font-weight: bold;
  letter-spacing: -0.96px;
  text-align: center;
}

@media (max-width: 600px) {
  .introduction .we-are {
    font-size: 10vw;
  }
}

.introduction p {
  text-align: center;
  color: #2d2d2d;
  font-size: 16px;
  line-height: 30px;
}

@media (max-width: 600px) {
  .introduction p {
    font-size: 3vw;
  }
}

.product-container {
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 80px;
}

@media (max-width: 900px) {
  .product-container {
    display: block;
  }
}

.product-container .card {
  display: block;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: contain;
  width: 293px;
  position: relative;
  text-align: center;
}

.product-container .card svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.product-container .card h2 {
  position: relative;
  top: 224.4px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.875rem;
}

.product-container .card p {
  position: relative;
  top: 224.4px;
}

.product-container .card h2,
.product-container .card p {
  color: #434343;
}

@media (max-width: 1017px) {
  .product-container .card {
    -webkit-transform: scale(0.93);
            transform: scale(0.93);
  }
}

@media (max-width: 900px) {
  .product-container .card {
    -webkit-transform: scale(1);
            transform: scale(1);
    margin: 12vh auto;
  }
}

.product-container .card-chatbot {
  height: 376px;
}

.product-container .card-chatbot h2 {
  color: #588aff;
}

.product-container .card-mobileapp {
  height: 375px;
}

.product-container .card-mobileapp h2 {
  color: #6f55d9;
}

.product-container .card-games {
  height: 384px;
}

.product-container .card-games h2 {
  color: #4cd6f2;
}

.posts {
  color: #2d2d2d;
  margin-top: 100px;
}

@media (max-width: 440px) {
  .posts {
    text-align: center;
  }
}

.posts h2 {
  font-family: "Gilroy-Bold", "Montserrat", sans-serif;
  font-size: 2.625rem;
  letter-spacing: -0.67px;
  margin-bottom: 15px;
}

.posts .post-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 874px) {
  .posts .post-container {
    display: block;
  }
}

.posts .post-container .post {
  width: 259px;
}

@media (max-width: 874px) {
  .posts .post-container .post {
    width: 100%;
  }
}

.posts .post-container .post img {
  width: 29px;
  display: inline-block;
  position: relative;
  top: 8px;
}

.posts .post-container .post span {
  display: block;
  font-family: "Gilroy-Medium", "Montserrat", sans-serif;
  font-size: 0.875rem;
}

.posts .post-container .post span::before {
  display: inline-block;
  position: relative;
  top: 8px;
  margin-right: 5px;
  content: "";
  background-image: url("/lalalogy/images/index/calendar.svg");
  width: 29px;
  height: 29px;
}

.posts .post-container .post h3 {
  font-weight: 500;
  margin: 13.5px 0 19px 0;
}

.posts .post-container .post p {
  line-height: 1.3;
}

.posts button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 117px;
  height: 60px;
  border-radius: 50px;
  border: none;
  color: #fff;
  font-size: 1.125rem;
  background-color: #6f55d9;
  display: block;
  margin: 25px 0 0 auto;
  letter-spacing: -0.29px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.posts button:hover {
  background-color: #588aff;
  color: #fff;
}

@media (max-width: 440px) {
  .posts button {
    margin: 50px auto 0 auto;
  }
}

.stay-in-touch {
  position: relative;
  margin-top: 318px;
  margin-bottom: 159px;
}

@media (max-width: 734px) {
  .stay-in-touch {
    width: 100%;
    background-color: #65D4F1;
    height: 206px;
  }
}

@media (max-width: 440px) {
  .stay-in-touch {
    margin-bottom: 0;
    margin-top: 75px;
    height: 395px;
  }
}

.stay-in-touch .mailstanding {
  width: 283px;
  position: absolute;
  top: -215px;
  left: 58px;
  z-index: -10;
}

@media (max-width: 734px) {
  .stay-in-touch .mailstanding {
    z-index: -30;
  }
}

@media (max-width: 440px) {
  .stay-in-touch .mailstanding {
    display: none;
  }
}

.stay-in-touch .mailbox {
  display: block;
  position: relative;
  z-index: -20;
  width: 100%;
  height: 206px;
}

@media (max-width: 440px) {
  .stay-in-touch .mailbox {
    display: none;
  }
}

.stay-in-touch h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 29px;
  right: 120px;
  margin: 0;
}

@media (max-width: 734px) {
  .stay-in-touch h2 {
    left: 3.5vw;
    right: auto;
  }
}

@media (max-width: 440px) {
  .stay-in-touch h2 {
    position: static;
    padding-top: 70px;
    margin-bottom: 50px;
    text-align: center;
  }
}

.stay-in-touch form {
  position: absolute;
  top: 111px;
  right: 53px;
}

@media (max-width: 734px) {
  .stay-in-touch form {
    left: 3.5vw;
    right: auto;
  }
}

@media (max-width: 440px) {
  .stay-in-touch form {
    position: static;
  }
}

.stay-in-touch form input {
  width: 272px;
  height: 59px;
  border: none;
  border-radius: 50px;
  background-color: #ffffff37;
  font-size: 1rem;
  color: #fff;
  padding-left: 27px;
}

.stay-in-touch form input::-webkit-input-placeholder {
  color: #fff;
}

.stay-in-touch form input:-ms-input-placeholder {
  color: #fff;
}

.stay-in-touch form input::-ms-input-placeholder {
  color: #fff;
}

.stay-in-touch form input::placeholder {
  color: #fff;
}

@media (max-width: 440px) {
  .stay-in-touch form input {
    display: block;
    width: 68vw;
    margin: 0 auto;
  }
  .stay-in-touch form input::-webkit-input-placeholder {
    text-align: center;
  }
  .stay-in-touch form input:-ms-input-placeholder {
    text-align: center;
  }
  .stay-in-touch form input::-ms-input-placeholder {
    text-align: center;
  }
  .stay-in-touch form input::placeholder {
    text-align: center;
  }
}

.stay-in-touch form button {
  width: 117px;
  height: 60px;
  border: none;
  border-radius: 45px;
  background-color: #fff;
  font-size: 1.125rem;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.stay-in-touch form button:hover {
  color: #fff;
  background-color: #588aff;
}

@media (max-width: 440px) {
  .stay-in-touch form button {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
  }
}
/*# sourceMappingURL=main.css.map */