@import 'common';


body {
    background-image: url("/lalalogy/images/index/bg.svg");
    background-size: 100vw 100vh;
    background-size: #{"100vw calc(var(--vh, 1vh) * 100)"};
    background-repeat: no-repeat;

    @include respond($mobile-breakpoint) {
        background-size: 199vh 100vh;
        background-size: #{"199vw calc(var(--vh, 1vh) * 100)"};
        background-position: center top;
    }
}


#background-elements {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -10;
}

#robot {
    position: absolute;
    z-index: -5;
    left: 60vw;
    top: 55vh;
    left: calc(65vw - min(64vh, 31vw) / 2);
    top: calc(60vh - min(66vh, 32vw) / 2);
    width: #{"min(64vh, 31vw)"};
    height: #{"min(66vh, 32vw)"};
    max-width: 621px;
    max-height: 640px;

    &.one-col {
        top: 50vh;
        left: 50vw;

        width: #{"min(38vh, 84vw)"};
        height: #{"min(40vh, 87vw)"};

        margin-left: #{"max(-19vh, -42vw)"};;
        margin-top: #{"max(-20vh, -43.5vw)"};
    }
}

.call-to-action {

    position: absolute;
    top: 38.1vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    h1 {
        font-size: rem(55px); //calc(max(min(#{rem(55px)}, 5vw), #{rem(30px)}));
        font-weight: bold;
        color: #fff;
        letter-spacing: -0.88px;

        @include respond(1069px) {
            font-size: rem(35px); //calc(0.1rem + 6vw);
        }

    }

    .chat-with-me {
        $button-ratio: 0.2041;

        background-color: #fff;
        text-transform: uppercase;
        color: $light-black;
        font-size: rem(
            22px
        ); //calc(max(min(#{rem(22px)}, 2.1vw), #{rem(16px)}));
        font-weight: 400;
        border-radius: 30px;
        border-style: none;
        box-sizing: border-box;
        width: 289px; // calc(min(289px, 25vw));
        height: 289px * $button-ratio; // calc(min(59px, 25vw * 0.2041));
        text-align: center;
        cursor: pointer;
        transition: all 0.2s ease-out;

        @include respond(1069px) {
            font-size: rem(19px); //calc(0.1rem + 2.5vw);
            width: 254px; //35vw;
            height: 51px; //35vw * $button-ratio;
        }


        &:hover {
            background-color: $hover-color;
            color: #fff;
        }
    }

    &.one-col {
        top: 13vh;

        h1 {
            text-align: center;
        }

        .chat-with-me {
            position: absolute;
            display: block;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: 60vh;
            top: calc(var(--vh, 1vh) * 60);
        }
    }
}

#scroll-down {
    position: absolute;
    cursor: pointer;
    width: 49px;
    left: calc(50% - 49px / 2);
    top: calc(100vh - 49px - 28px);
    top: calc(var(--vh, 1vh) * 100 - 49px - 28px);
    transition: all 0.1s ease-out;

    &:hover {
        transform: scale(1.2);
    }
}

.introduction {
    margin-top: calc(100vh + 68.5px);

    @include respond($mobile-breakpoint) {
    margin-top: calc(100vh + 47.5px);
    }

    .we-are {
        margin-top: 0;
        margin-bottom: 0.3em;
        color: $light-purple;
        font-size: rem(60px);
        font-weight: bold;
        letter-spacing: -0.96px;
        text-align: center;

        @include respond(600px) {
            font-size: 10vw;
        }
    }

    p {
        text-align: center;
        color: $light-black;
        font-size: 16px;
        line-height: 30px;

        @include respond(600px) {
            font-size: 3vw;
        }
    }
}

.product-container {
    $breakpoint: 960px;

    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 80px;

    @include respond($breakpoint) {
        display: block;
    }

    .card {
        display: block;
        text-decoration: none;
        background-repeat: no-repeat;
        background-size: contain;
        width: 293px;
        position: relative;
        text-align: center;

        transform-style: preserve-3d;
        transform: perspective(1000px);


        svg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        h2 {
            position: relative;
            top: 224.4px;
            margin-bottom: 0;
            font-weight: bold;
            font-size: rem(30px);
        }
    
        p {
            position: relative;
            top: 224.4px;
        }
    
        h2,
        p {
            //margin-left: 35px;
            color: #434343;
            transform: translateZ(25px);
        }

        @include respond($breakpoint) {
            //transform: scale(1);
            margin: 12vh auto;
        }
    }

    .card-chatbot {
        //background-image: url("/lalalogy/images/index/chatbot-card.svg");
        height: 376px;

        h2 {
            color: #588aff;
        }
    }

    .card-mobileapp {
        //background-image: url("/lalalogy/images/index/mobileapp-card.svg");
        height: 375px;

        h2 {
            color: #6f55d9;
        }
    }

    .card-games {
        //background-image: url("/lalalogy/images/index/games-card.svg");
        height: 384px;

        h2 {
            color: #4cd6f2;
        }
    }
}

.posts {
    color: $light-black;
    margin-top: 100px;

    @include respond($mobile-breakpoint) {
        text-align: center;
    }

    // Section heading
    h2 {
        font-family: "Gilroy-Bold", "Montserrat", sans-serif;
        font-size: rem(42px);
        letter-spacing: -0.67px;
        margin-bottom: 15px;
    }

    .post-container {
        display: flex;
        justify-content: space-between;

        @include respond(874px) {
            display: block;
        }

        .post {
            width: 259px;

            @include respond(874px) {
                width: 100%;
            }

            // Calendar icon
            img {
                width: 29px;
                display: inline-block;
                position: relative;
                top: 8px;
            }

            // Post datetime
            span {
                display: block;
                font-family: "Gilroy-Medium", "Montserrat", sans-serif;
                font-size: rem(14px);
            }

            span::before {
                display: inline-block;
                position: relative;
                top: 8px;
                margin-right: 5px;
                content: "";
                background-image: url("/lalalogy/images/index/calendar.svg");
                width: 29px;
                height: 29px;
            }

            // Post heading
            h3 {
                font-weight: 500;
                margin: 13.5px 0 19px 0;
            }

            p {
                line-height: 1.3;
            }
        }
    }

    button {
        box-sizing: border-box;
        width: 117px;
        height: 60px;
        border-radius: 50px;
        border: none;
        color: #fff;
        font-size: rem(18px);
        background-color: $light-purple;
        display: block;
        margin: 25px 0 0 auto;
        letter-spacing: -0.29px;
        transition: all 0.2s ease-out;

        &:hover {
            background-color: $hover-color;
            color: #fff;
        }

        @include respond($mobile-breakpoint) {
            margin: 50px auto 0 auto;
        }
    }
}

.stay-in-touch {
    position: relative;
    margin-top: 318px;
    margin-bottom: 159px;

    transform: perspective(1000px);
    
    @include respond(734px) {
        //overflow-x: clip;
        width: 100%;
        background-color: #65D4F1;
        height: 206px;
    }

    @include respond($mobile-breakpoint) {
        margin-bottom: 0;
        margin-top: 75px;
        height: 395px;
    }


    .mailstanding {
        width: 283px;
        position: absolute;
        top: -215px;
        left: 58px;
        z-index: -10;

        @include respond(734px) {
            z-index: -30;
        }

        @include respond($mobile-breakpoint) {
            display: none;
        }
    }

    .mailbox {
        display: block;
        position: relative;
        z-index: -20;
        width: 100%;
        height: 206px;

        @include respond($mobile-breakpoint) {
            display: none;
        }
    }

    h2 {
        font-size: rem(32px);
        font-weight: bold;
        color: #fff;
        position: absolute;
        top: 29px;
        right: 120px;
        margin: 0;

        @include respond(734px) {
            left: 3.5vw;
            right: auto;
        }

        @include respond($mobile-breakpoint) {
            position: static;
            padding-top: 70px;
            margin-bottom: 50px;
            text-align: center;
        }
    }

    form {
        position: absolute;
        top: 111px;
        right: 53px;

        @include respond(734px) {
            left: 3.5vw;
            right: auto;

        }

        @include respond($mobile-breakpoint) {
            position: static;
        }

        input {
            width: 272px;
            height: 59px;
            border: none;
            border-radius: 50px;
            background-color: #ffffff37;
            font-size: rem(16px);
            color: #fff;
            padding-left: 27px;

            &::placeholder {
                color: #fff;
            }

            @include respond($mobile-breakpoint) {
                display: block;
                width: 68vw;
                margin: 0 auto;

                &::placeholder {
                    text-align: center;
                }
            }
        }

        button {
            width: 117px;
            height: 60px;
            border: none;
            border-radius: 45px;
            background-color: #fff;
            font-size: rem(18px);
            transition: all 0.2s ease-out;

            &:hover {
                color: #fff;
                background-color: $hover-color;
            }

            @include respond($mobile-breakpoint) {
                display: block;
                margin: 0 auto;
                margin-top: 50px;
            }
        }
    }
}

#ratio {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 2em;
    font-weight: bold;
    color: red;
    z-index: 1000000;
}
